*{
  /* border: solid 2px red; */
  margin:auto
}
body{
  background-color: #ABABAB;
}
div{
  background-color: #E5E5E5;
  width: 560.509px;
  margin-top: 3%;
  border-radius: 0 0 2px 2px;
  box-shadow: 0px 2px 0px 0px #9D9EA3;
}
table, p {
  margin:auto;
  width: 90%;
  background-color: #E5E5E5;
}
table{
  margin-bottom: 50px;

}

p, .text-color{
  color: #79373F;
}

td{
  margin-left: 50px;
  width: 50%;
  text-align: left;
  
}


label{
  color:#AB6971;
}

textarea{
  width: 530px;
  height:100px;
  
}

button{
  margin-top: 40px;
  margin-bottom: 30px;
  width:130px;
  height:30px;
  border: solid 0px black;
  border-radius: 3px;
  color: white;
  background-image: linear-gradient(#595959, #585758);

}

.top-input{
  width: 90%;
  line-height: 26px;
  border: solid 1px #CED1D7;
  border-radius: 2.5px
  
}
.full-width{
  width: 100%;
}


.no-right{
  width: 10%;
}

.no-left{
  margin-left: 0;
}

.header{
  background-color: white;
  height: 110px;
  width: 100%;
  text-align: center;
  color: #78363F;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 2%;
}

.extra-margin-bottom{
  margin-bottom: 20%;
}

.center{
  text-align: center;
}

.right{
  text-align: end;
}
